body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}


main {
    padding: 20px 0;
}

.about-skills-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

section {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Allow sections to grow equally */
}

h2 {
    color: #35424a;
}

.project {
    margin: 15px 0;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #35424a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background: #45a049;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    background: #35424a;
    color: #ffffff;
    border-radius: 5px;
    transition: background 0.3s;
}

.tab:hover {
    background: #45a049;
}

.tab-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

